<section class="form">
  <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">

    <div class="form-group">
      <label for="firstName">Nombre</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="reservation.firstName" name="firstName"
        [ngClass]="{'is-valid': firstNameValid, 'is-invalid': showFirstNameFeedback()}" required
        (blur)="firstNameBlur()" (ngModelChange)="checkFirstName()">
      <div class="invalid-feedback" *ngIf="showFirstNameFeedback()">
        Por favor, ingrese su nombre.
      </div>
    </div>
  
    <!-- Apellidos -->
    <div class="form-group">
      <label for="lastName">Apellidos</label>
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="reservation.lastName" required
        [ngClass]="{'is-valid': lastNameValid, 'is-invalid': showLastNameFeedback()}" (blur)="lastNameBlur()"
        (ngModelChange)="checkLastName()">
      <div class="invalid-feedback" *ngIf="showLastNameFeedback()">
        Por favor, ingrese sus apellidos.
      </div>
    </div>
  
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="reservation.email" required
        [ngClass]="{'is-valid': emailValid, 'is-invalid': showEmailFeedback()}" (blur)="emailBlur()"
        (ngModelChange)="checkEmail()">
      <div class="invalid-feedback" *ngIf="showEmailFeedback()">
        Por favor, ingrese un correo electrónico válido.
      </div>
    </div>
  
    <!-- Telefono -->
    <div class="form-group">
      <label for="phone">Teléfono</label>
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="reservation.phone" required
        [ngClass]="{'is-valid': phoneValid, 'is-invalid': showPhoneFeedback()}" (blur)="phoneBlur()"
        (ngModelChange)="checkPhone()">
      <div class="invalid-feedback" *ngIf="showPhoneFeedback()">
        Por favor, ingrese un número de teléfono válido.
      </div>
    </div>

    <!-- Fecha -->

    <div class="form-group">
      <label for="date">Fecha</label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="reservation.date"
        (ngModelChange)="checkReservation()" min="{{ today }}" />
      <div *ngIf="dateError" class="text-danger">Fecha no válida</div>
    </div>


    <!-- Hora -->
    <div class="form-group">
      <label for="time">Hora</label>
      <select class="form-control" id="time" name="time" [(ngModel)]="reservation.time" required
        (blur)="checkReservation()">
        <option *ngFor="let timeOption of timeOptions" [value]="timeOption"
          [disabled]="isTimeOptionDisabled(timeOption)">
          {{timeOption}}
        </option>
      </select>
      <div *ngIf="timeError" class="text-danger">Hora no válida</div>
    </div>


    <!-- Comentarios -->
    <div class="form-group">
      <label for="comments">Comentarios</label>
      <textarea class="form-control" id="comments" name="comments" [(ngModel)]="reservation.comments"></textarea>
    </div>


    <!-- Button -->
    <button type="submit" class="btn btn-primary cta"
      [disabled]="reservationForm.invalid || dateError || timeError">
      <span>Reservar</span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
    </button>
  </form>

</section>