section{
    margin: 7%;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 20px;
}

.grid-item {
    margin-bottom: 20px;
}

.columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.columns-1 {
    grid-template-columns: 1fr;
}

@media (max-width: 1200px) {

    .columns-5,
    .columns-4 {
        grid-template-columns: repeat(3, 1fr);
    }

    .columns-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .columns-2,
    .columns-1 {
        grid-template-columns: 1fr;
    }
}

.masonry {
    column-count: 5;
    column-gap: 20px;
}

@media (max-width: 768px) {
    .masonry {
        column-count: 2;
    }
}

/* Estilos para pantallas con ancho menor a 768px */
@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Estilos para pantallas con ancho entre 768px y 1199px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* Estilos para pantallas con ancho mayor o igual a 1200px */
@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}