<header>
    <div class="text">
        <h2 class="welcome">BIENVENIDOS</h2>
        <h1 class="name">MAAR FOOD</h1>
        <div class="arrow">
            <span class="left"></span>
            <i class="fas fa-asterisk"></i>
            <span class="right"></span>
        </div>
        <span>
            <p class="slogan">El sabor del oceano en cada bocado</p>
        </span>
    </div>
    <svg class="svg-down" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
        <path fill="currentColor"
            d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z">
        </path>
    </svg>
    <div class="arrow-down">
    </div>
</header>

<div class="about-us">
    <div class="text">
        <h2>Descubre</h2>
        <h3 class="w">Quienes somos</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>Somos un restaurant que combina la frescura del mar con la pasión por la gastronomía. Convirtiendonos en un
            destino preferido para los amantes de los mariscos
            durante más de una década.</p>
        <div><a class="a-CTA" href="#">Ver más</a></div>
    </div>
    <div class="image-container">
        <div class="image image1">
            <img src="../../assets/images/aboutus1.jpg" alt="Food Photo">
        </div>
        <div class="image image2">
            <img src="../../assets/images/aboutus2.jpg" alt="Food Photo">
        </div>
    </div>
</div>

<div class="recipes">
    <div class="image"></div>
    <div class="text">
        <h2>Exquisitos</h2>
        <h3 class="n">Platillos</h3>
    </div>
</div>

<div class="menu">
    <div class="box-model">
        <i class="fas fa-times fa-2x close"></i>
        <div class="arrow">
            <div class="arrow arrow-right"></div>
            <div class="arrow arrow-left"></div>
        </div>
        <div class="box-image-container">
            <div class="box-image">
                <img src="" alt="Food Photo">
            </div>
        </div>
    </div>
    <div class="menu-image-container">
        <div class="group1">
            <div class="image active" >
                <img class="image4" src="../../assets/images/menu1.jpg" alt="Food Photo">
            </div>
            <div class="image">
                <img class="image4" src="../../assets/images/menu2.jpg" alt="Food Photo">
            </div>
        </div>
        <div class="group2">
            <div class="image">
                <img class="image4" src="../../assets/images/menu3.jpg" alt="Food Photo">
            </div>
            <div class="image">
                <img class="image4" src="../../assets/images/menu4.jpg" alt="Food Photo">
            </div>
        </div>
    </div>
    <div class="text">
        <h2>Platillos</h2>
        <h3 class="w">Populares</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>En MAAR FOOD, no solo ofrecemos la frescura del océano, sino también una amplia
            selección de platillos populares que han conquistado el paladar de nuestros clientes. Nuestra carta está
            repleta de delicias marinas que se han convertido en verdaderos favoritos entre nuestros clientes.</p>
        <div><a class="a-CTA" href="#">Ver Platillos</a></div>
    </div>
</div>

<div class="fixed-image">
    <div class="text">
        <h2>El Mejor</h2>
        <h3 class="l">Restaurante</h3>
    </div>
    <div class="res">
        <button class="cta">
            <span>Reserva aquí</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </div>
</div>